.chat-wrapper {
  display: flex;
  height: 100vh;
  font-family: 'Pretendard', sans-serif;
  background-color: #fff; 
}

.chat-list-panel {
  width: 24%;                  
  min-width: 220px;
  max-width: 280px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  background-color: #fff;
}

.chat-room-panel {
  flex: 1;                     
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  min-width: 0;      
           
}

.message-scroll-area {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  padding-bottom: 80px; 
}
